
.Buttons
{Height: 100px;
 border-radius: 10%;
 Width:250px;
 border: 1px solid black;
  outline:none;
  margin: auto;  
  padding: 20px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
 }
 .admincontainer{
     display:flex;
     flex-direction: row;
  
 }

